In [1]:
import pandas as pd
import numpy as np

In [2]:
import sklearn

In [3]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
random_state = 42

In [5]:
train = pd.read_feather('SaveFiles/train.feather')

In [6]:
test = pd.read_feather('SaveFiles/test.feather')

In [7]:
train.drop('Image', inplace=True, axis=1)

In [8]:
test.drop('Image', inplace=True, axis=1)

In [11]:
model_data = train

In [12]:
len(model_data)/len(train)

1.0

In [13]:
del(train)

In [14]:
from sklearn.linear_model import LinearRegression
mae =  sklearn.metrics.mean_absolute_error
mse = sklearn.metrics.mean_squared_error

In [15]:
def rmse(x):
    return np.sqrt(mse(x))

In [16]:
model_Y = model_data.iloc[:,0:30]
model_X = model_data.iloc[:,30:]

In [17]:
from sklearn.impute import SimpleImputer

In [18]:
si = SimpleImputer()

In [20]:
model_X_imputed = si.fit_transform(model_X)

In [21]:
test_X = test.iloc[:,1:]

In [22]:
test_X.head()

,pixel_0,pixel_1,pixel_2,pixel_3,pixel_4,pixel_5,pixel_6,pixel_7,pixel_8,pixel_9,...,pixel_9206,pixel_9207,pixel_9208,pixel_9209,pixel_9210,pixel_9211,pixel_9212,pixel_9213,pixel_9214,pixel_9215
0,182,183,182,182,180,180,176,169,156,137,...,6,14,28,28,24,18,12,8,5,5
1,76,87,81,72,65,59,64,76,69,42,...,156,152,162,169,168,159,191,228,211,168
2,177,176,174,170,169,169,168,166,166,166,...,1,1,1,1,1,1,1,1,1,1
3,176,174,174,175,174,174,176,176,175,171,...,144,143,141,142,143,142,142,142,142,140
4,50,47,44,101,144,149,120,58,48,42,...,254,254,254,253,255,236,174,175,175,165

In [23]:
train_test_split= sklearn.model_selection.train_test_split

In [26]:
model_Y_train, model_Y_val, model_X_train, model_X_val = train_test_split(
    model_Y, model_X_imputed, test_size = 0.2, random_state= random_state)

In [27]:
model_Y_train.head()

,left_eye_center_x,left_eye_center_y,right_eye_center_x,right_eye_center_y,left_eye_inner_corner_x,left_eye_inner_corner_y,left_eye_outer_corner_x,left_eye_outer_corner_y,right_eye_inner_corner_x,right_eye_inner_corner_y,...,nose_tip_x,nose_tip_y,mouth_left_corner_x,mouth_left_corner_y,mouth_right_corner_x,mouth_right_corner_y,mouth_center_top_lip_x,mouth_center_top_lip_y,mouth_center_bottom_lip_x,mouth_center_bottom_lip_y
315,68.708791,40.356449,27.640813,41.962267,60.896856,41.041283,77.197861,41.503316,35.441455,42.191743,...,52.190118,59.398845,68.479316,80.736000,32.229818,83.030246,51.960642,74.541176,52.419594,88.307166
4561,69.587125,38.212292,30.066466,34.482861,NaN,NaN,NaN,NaN,NaN,NaN,...,49.832132,63.944922,NaN,NaN,NaN,NaN,NaN,NaN,48.340292,72.522466
5007,63.575314,36.237629,28.981812,39.963096,NaN,NaN,NaN,NaN,NaN,NaN,...,47.076833,60.186984,NaN,NaN,NaN,NaN,NaN,NaN,48.141257,71.895556
1161,65.022000,36.204060,31.236000,39.153660,58.854600,37.812960,71.725800,36.740400,38.207400,39.689940,...,51.991200,54.782400,67.167000,67.845000,35.794200,71.062800,51.882600,67.041000,51.882600,75.353400
2275,64.644616,34.280084,28.284307,38.586911,57.756510,36.588318,73.673751,33.584799,36.334975,39.375088,...,54.072987,60.539258,67.582186,76.578265,37.394302,80.810970,52.719413,79.736604,53.754499,80.161255

In [30]:
model_X_train[0:5,:]

array([[159., 152., 148., ..., 117., 118., 119.],
       [ 86.,  92., 101., ...,  68.,  84.,  87.],
       [ 79.,  79.,  81., ...,  49.,  29.,  20.],
       [239., 237., 235., ..., 108., 107., 104.],
       [ 34.,  52.,  54., ...,  11.,  12.,  11.]])

In [31]:
from sklearn.model_selection import KFold

KFold?

kf = KFold(5, random_state = random_state)

In [35]:
model_Y_train.isnull().sum()

left_eye_center_x               9
left_eye_center_y               9
right_eye_center_x             11
right_eye_center_y             11
left_eye_inner_corner_x      3847
left_eye_inner_corner_y      3847
left_eye_outer_corner_x      3850
left_eye_outer_corner_y      3850
right_eye_inner_corner_x     3847
right_eye_inner_corner_y     3847
right_eye_outer_corner_x     3846
right_eye_outer_corner_y     3846
left_eyebrow_inner_end_x     3845
left_eyebrow_inner_end_y     3845
left_eyebrow_outer_end_x     3880
left_eyebrow_outer_end_y     3880
right_eyebrow_inner_end_x    3845
right_eyebrow_inner_end_y    3845
right_eyebrow_outer_end_x    3871
right_eyebrow_outer_end_y    3871
nose_tip_x                      0
nose_tip_y                      0
mouth_left_corner_x          3845
mouth_left_corner_y          3845
mouth_right_corner_x         3844
mouth_right_corner_y         3844
mouth_center_top_lip_x       3842
mouth_center_top_lip_y       3842
mouth_center_bottom_lip_x      26
mouth_center_bottom_lip_y      26
dtype: int64

In [37]:
from collections import defaultdict

In [32]:
lm = LinearRegression(normalize=False, n_jobs=-1)

In [33]:
lm.fit(model_X_train, model_Y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [33]:
model_Y_train_predict = lm.predict(model_X_train)

In [37]:
model_Y_train.shape

(1712, 30)

In [36]:
model_Y_train_predict.shape

(1712, 30)

In [38]:
model_Y_val_predict = lm.predict(model_X_val)

In [40]:
model_Y_val.shape

(428, 30)

In [39]:
model_Y_val_predict.shape

(428, 30)

mae?

In [42]:
mae(model_Y_train, model_Y_train_predict)

2.7260021861833614e-14

In [44]:
np.sqrt(mse(model_Y_train, model_Y_train_predict))

3.6908057855510356e-14

In [45]:
lm_final = LinearRegression(normalize=False, n_jobs=-1)

In [46]:
lm_final.fit(model_X, model_Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=-1, normalize=False)

In [54]:
test_Y_predict = lm_final.predict(test_X)

In [55]:
test_Y_predict

array([[63.99175363, 39.19701102, 30.87513601, ..., 65.12351023,
        49.19032629, 83.16851057],
       [69.89911781, 35.18488592, 26.81647512, ..., 74.19972802,
        49.45961568, 90.86082315],
       [64.49586366, 36.07135232, 30.26597733, ..., 70.43528704,
        47.89848754, 87.83016112],
       ...,
       [67.84928811, 37.78748402, 29.50431614, ..., 74.65957758,
        45.57032276, 82.23448828],
       [67.54289925, 39.43006075, 32.28696685, ..., 67.20036323,
        45.17483945, 77.65316587],
       [66.51994172, 38.07016092, 31.37549324, ..., 72.30388083,
        45.16816278, 82.30445053]])

In [57]:
test_Y_predict = pd.DataFrame(test_Y_predict)

In [59]:
test_Y_predict.columns  = model_Y.columns

In [62]:
test_Y_predict['ImageId'] = test['ImageId']

In [63]:
test_Y_predict.head()

,left_eye_center_x,left_eye_center_y,right_eye_center_x,right_eye_center_y,left_eye_inner_corner_x,left_eye_inner_corner_y,left_eye_outer_corner_x,left_eye_outer_corner_y,right_eye_inner_corner_x,right_eye_inner_corner_y,...,nose_tip_y,mouth_left_corner_x,mouth_left_corner_y,mouth_right_corner_x,mouth_right_corner_y,mouth_center_top_lip_x,mouth_center_top_lip_y,mouth_center_bottom_lip_x,mouth_center_bottom_lip_y,ImageId
0,63.991754,39.197011,30.875136,39.039367,58.121246,40.283803,69.501190,39.562262,36.950609,38.974348,...,49.137893,63.157389,74.622364,33.718146,75.280380,50.366953,65.123510,49.190326,83.168511,1
1,69.899118,35.184886,26.816475,35.448372,63.643535,36.660556,76.685998,36.141223,34.175274,36.283901,...,60.926299,64.458165,78.479479,32.430233,78.387789,49.949315,74.199728,49.459616,90.860823,2
2,64.495864,36.071352,30.265977,36.852919,59.652582,37.326287,69.885023,36.849918,36.296491,37.840305,...,57.459363,59.396803,76.417880,36.365455,75.636756,48.431169,70.435287,47.898488,87.830161,3
3,66.534467,38.691626,31.224919,39.782071,59.590984,40.257903,73.653232,40.138465,36.591574,40.498252,...,50.477596,64.802529,78.337236,34.251084,78.413050,47.963727,70.367773,48.562618,83.476981,4
4,66.265270,35.340657,27.205546,37.508351,60.693033,36.710555,72.495006,36.438975,33.625896,38.005709,...,52.679276,66.938157,75.216297,37.712722,76.952725,52.110959,68.725132,52.692635,83.600274,5

In [65]:
melted_predict = test_Y_predict.melt(id_vars='ImageId')

In [66]:
id_lookup_table = pd.read_csv('Data/IdLookupTable.csv')

In [67]:
id_lookup_table.head()

   RowId  ImageId              FeatureName  Location
0      1        1        left_eye_center_x       NaN
1      2        1        left_eye_center_y       NaN
2      3        1       right_eye_center_x       NaN
3      4        1       right_eye_center_y       NaN
4      5        1  left_eye_inner_corner_x       NaN

In [69]:
melted_predict.columns = ['ImageId', 'FeatureName', 'Location']

In [71]:
lm_submission = id_lookup_table[['RowId', 'ImageId', 'FeatureName']].merge(
    melted_predict, how = 'left', on = ['ImageId', 'FeatureName'])

In [72]:
lm_submission.shape

(27124, 4)

In [73]:
id_lookup_table.shape

(27124, 4)

In [74]:
lm_submission.columns

Index(['RowId', 'ImageId', 'FeatureName', 'Location'], dtype='object')

In [75]:
lm_submission.drop(['ImageId', 'FeatureName'],axis=1,inplace=True)

In [79]:
lm_submission['Location'] = lm_submission.Location.round(0)

In [80]:
lm_submission['Location'][lm_submission.Location > 96] = 96
lm_submission['Location'][lm_submission.Location < 0] = 0

C:\Users\Maddy\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Maddy\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [81]:
lm_submission['Location'] = lm_submission.Location.astype(int)

In [82]:
lm_submission.to_csv('Output/lm_submission.csv', index = False)