In [2]:
from utils import *

In [3]:
%matplotlib inline

In [4]:
train = pd.read_feather('SaveFiles/train.feather')

In [5]:
test = pd.read_feather('SaveFiles/test.feather')

In [6]:
train.drop('Image', inplace=True, axis=1)

In [7]:
test.drop('Image', inplace=True, axis=1)

In [8]:
model_data = train.dropna()

In [9]:
len(model_data)/len(train)

0.3035891615832033

In [10]:
del(train)

In [11]:
from sklearn.linear_model import LinearRegression
mae =  sklearn.metrics.mean_absolute_error
mse = sklearn.metrics.mean_squared_error

In [12]:
def rmse(x):
    return np.sqrt(mse(x))

## Data preparation

In [13]:
model_Y = model_data.iloc[:,0:30]
model_X = model_data.iloc[:,30:]

In [14]:
test_X = test.iloc[:,1:]

In [15]:
test_X.head()

,pixel_0,pixel_1,pixel_2,pixel_3,pixel_4,pixel_5,pixel_6,pixel_7,pixel_8,pixel_9,...,pixel_9206,pixel_9207,pixel_9208,pixel_9209,pixel_9210,pixel_9211,pixel_9212,pixel_9213,pixel_9214,pixel_9215
0,182,183,182,182,180,180,176,169,156,137,...,6,14,28,28,24,18,12,8,5,5
1,76,87,81,72,65,59,64,76,69,42,...,156,152,162,169,168,159,191,228,211,168
2,177,176,174,170,169,169,168,166,166,166,...,1,1,1,1,1,1,1,1,1,1
3,176,174,174,175,174,174,176,176,175,171,...,144,143,141,142,143,142,142,142,142,140
4,50,47,44,101,144,149,120,58,48,42,...,254,254,254,253,255,236,174,175,175,165

In [16]:
train_test_split= sklearn.model_selection.train_test_split

In [17]:
model_Y_train, model_Y_val, model_X_train, model_X_val = train_test_split(
    model_Y, model_X, test_size = 0.2, random_state= random_state)

In [18]:
model_Y_train.head()

,left_eye_center_x,left_eye_center_y,right_eye_center_x,right_eye_center_y,left_eye_inner_corner_x,left_eye_inner_corner_y,left_eye_outer_corner_x,left_eye_outer_corner_y,right_eye_inner_corner_x,right_eye_inner_corner_y,...,nose_tip_x,nose_tip_y,mouth_left_corner_x,mouth_left_corner_y,mouth_right_corner_x,mouth_right_corner_y,mouth_center_top_lip_x,mouth_center_top_lip_y,mouth_center_bottom_lip_x,mouth_center_bottom_lip_y
973,65.859024,37.614009,31.401071,38.289638,60.116409,39.303080,72.615307,37.951824,36.806551,39.303080,...,44.238614,62.274520,63.494551,77.814425,33.766299,78.152315,45.927307,72.747591,45.927307,88.624630
558,66.454252,39.431841,30.444079,36.860185,60.738119,39.717934,73.027391,40.575576,36.160212,37.431735,...,47.020291,60.294993,59.881113,82.872795,35.017113,82.015788,47.305748,78.014305,47.591841,89.732026
2263,64.394739,36.276100,31.050884,38.969615,56.314195,37.158458,70.710567,36.485079,39.015329,39.039274,...,58.184127,57.993651,63.169321,79.992218,35.311362,83.989497,50.092684,80.191877,52.079435,82.411084
192,64.820293,38.478049,30.288390,38.478049,58.890927,39.175805,71.796293,40.571317,35.171902,39.524683,...,42.147902,53.128585,64.123317,76.846829,27.847024,74.405463,43.392000,68.902244,43.067317,86.867512
683,67.008738,39.899815,30.705969,38.249354,60.078277,40.560000,73.279015,41.549538,36.646154,39.239631,...,48.197169,60.031015,59.418092,83.793231,35.656615,83.463138,48.197169,75.872492,47.867077,92.373415

In [19]:
model_X_train.head()

,pixel_0,pixel_1,pixel_2,pixel_3,pixel_4,pixel_5,pixel_6,pixel_7,pixel_8,pixel_9,...,pixel_9206,pixel_9207,pixel_9208,pixel_9209,pixel_9210,pixel_9211,pixel_9212,pixel_9213,pixel_9214,pixel_9215
973,125,125,123,123,125,126,128,129,126,128,...,18,8,1,4,11,22,18,19,33,53
558,67,73,80,83,95,98,95,96,90,96,...,150,146,144,146,148,148,148,151,152,149
2263,8,8,8,7,7,10,11,11,11,11,...,118,120,117,120,119,114,113,116,115,117
192,131,131,132,133,134,133,132,132,134,123,...,99,101,96,93,93,92,91,89,87,85
683,141,111,104,103,109,132,137,128,129,130,...,159,159,160,159,159,139,110,94,94,95

## Linear Regression Model

In [20]:
lm = LinearRegression(normalize=True, n_jobs=-1)

lm.fit(model_X_train, model_Y_train)

In [21]:
linear_model_pickle_filename = 'SaveFiles/linear_model.pkl'

with open(linear_model_pickle_filename, 'wb') as file:
    pickle.dump(lm, file)

In [22]:
with open(linear_model_pickle_filename, 'rb') as file:
    lm = pickle.load(file)

In [23]:
model_Y_train_predict = lm.predict(model_X_train)

In [24]:
model_Y_train.shape

(1712, 30)

In [25]:
model_Y_train_predict.shape

(1712, 30)

In [26]:
model_Y_val_predict = lm.predict(model_X_val)

In [27]:
model_Y_val.shape

(428, 30)

In [28]:
model_Y_val_predict.shape

(428, 30)

mae?

In [29]:
mae(model_Y_train, model_Y_train_predict)

2.138988190446663e-14

In [30]:
np.sqrt(mse(model_Y_train, model_Y_train_predict))

2.857384927531368e-14

In [31]:
mae(model_Y_val, model_Y_val_predict)

1.8189000608396906

In [32]:
np.sqrt(mse(model_Y_val, model_Y_val_predict))

2.6900605681510763

In [37]:
lm_final = LinearRegression(normalize=True, n_jobs=-1)

lm_final.fit(model_X, model_Y)

In [39]:
lm_final_pickle_filename = 'SaveFiles/linear_model_final.pkl'

with open(lm_final_pickle_filename, 'wb') as file:
    pickle.dump(lm, file)

In [ ]:
with open(lm_final_pickle_filename, 'rb') as file:
    lm_final = pickle.load(file)

In [41]:
test_Y_predict = lm_final.predict(test_X)

In [42]:
test_Y_predict

array([[64.18892972, 39.26118461, 30.39136087, ..., 64.47382885,
        49.50362263, 83.820405  ],
       [69.50215528, 35.16894307, 26.74583498, ..., 74.65862369,
        50.01506021, 91.06448609],
       [64.60107734, 36.11410748, 30.15384532, ..., 70.19301237,
        47.66406199, 87.73528732],
       ...,
       [67.8421813 , 37.9767502 , 29.57358863, ..., 74.79866535,
        45.44224628, 81.9750641 ],
       [67.5671518 , 39.13697232, 32.4436598 , ..., 67.14983004,
        45.07487048, 78.00485212],
       [67.02143566, 37.85766006, 31.13605302, ..., 72.68271023,
        45.370004  , 83.21342213]])

In [81]:
lm_submission['Location'] = lm_submission.Location.astype(int)

In [43]:
lm_submission = prediction_to_submission(test_Y_predict, model_Y.columns, test['ImageId'])

C:\Users\Kaustubh\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\Kaustubh\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [44]:
lm_submission.to_csv('Output/lm_submission.csv', index = False)

## Elastic Net

In [33]:
from sklearn.linear_model import MultiTaskElasticNetCV

In [34]:
elastic_net_cv = MultiTaskElasticNetCV(l1_ratio=[.1, .7, 1], random_state=random_state, normalize = True,
                                       fit_intercept = True, eps = 1e-3, n_alphas = 10,
                                       max_iter=100, cv = 3, n_jobs=-1, selection = 'random')

elastic_net_cv.fit(model_X_train, model_Y_train)

In [35]:
elastic_net_pickle_filename = 'SaveFiles/elastic_net_model.pkl'

with open(elastic_net_pickle_filename, 'wb') as file:
    pickle.dump(elastic_net_cv, file)

In [36]:
with open(elastic_net_pickle_filename, 'rb') as file:
    elastic_net_cv = pickle.load(file)

In [37]:
model_Y_train_predict_en = elastic_net_cv.predict(model_X_train)

In [38]:
model_Y_train.shape

(1712, 30)

In [39]:
model_Y_train.shape

(1712, 30)

In [40]:
model_Y_val_predict_en = elastic_net_cv.predict(model_X_val)

In [41]:
model_Y_val.shape

(428, 30)

In [42]:
model_Y_val_predict_en.shape

(428, 30)

mae?

In [43]:
mae(model_Y_train, model_Y_train_predict_en)

1.2095706954491559

In [44]:
np.sqrt(mse(model_Y_train, model_Y_train_predict_en))

1.7813351883969089

In [45]:
mae(model_Y_val, model_Y_val_predict_en)

1.3803407183933094

In [46]:
np.sqrt(mse(model_Y_val, model_Y_val_predict_en))

2.0504856770388926

In [47]:
en_final = MultiTaskElasticNetCV(l1_ratio=[.1, .5, .75,.95, 1], random_state=random_state, normalize = True,
                                       fit_intercept = True, eps = 1e-4, n_alphas = 50,
                                       max_iter=500, cv = 5, n_jobs=-1, selection = 'random')

en_final.fit(model_X, model_Y)

In [48]:
en_final_pickle_filename = 'SaveFiles/elastic_net_model_final.pkl'

with open(en_final_pickle_filename, 'wb') as file:
    pickle.dump(en_final, file)

In [49]:
with open(en_final_pickle_filename, 'rb') as file:
    en_final = pickle.load(file)

In [50]:
test_Y_predict_en = en_final.predict(test_X)

In [51]:
en_submission = prediction_to_submission(test_Y_predict_en, model_Y.columns, test['ImageId'])

C:\Work\Projects\KaggleProjects\FacialKeypointsDetection\utils.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submission['Location'] = submission.Location.round(0)
C:\Work\Projects\KaggleProjects\FacialKeypointsDetection\utils.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submission['Location'][submission.Location > 96] = 96

In [52]:
en_submission.to_csv('Output/en_submission.csv', index = False)